    /***** ANCHOR ROOT *****/

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Fredoka+One&display=swap');

:root {
  --color-main: rgb(180, 180, 180);
  --color-main-darkened: rgb(120, 120, 120);

  --color-font-norm: black;
  --color-font-emph: white;
  --size-font: 18px;
  --font-normal: 'Catamaran', sans-serif;   
  --font-titles: 'Fredoka One', cursive;
}

/* Rétablir les marges intérieures & extérieures sur tout */
* {
  margin: 0;
  padding: 0;
}

/* Style « prototype » pour les images vides */
img {
  background-color: rgba(0,0,0,0.1);
  background-image: linear-gradient(to top left,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 1px),
          rgba(0,0,0,.1) 50%,
          rgba(0,0,0,0) calc(50% + 1px),
          rgba(0,0,0,0) 100%),
      linear-gradient(to top right,
          rgba(0,0,0,0) 0%,
          rgba(0,0,0,0) calc(50% - 1px),
          rgba(0,0,0,.1) 50%,
          rgba(0,0,0,0) calc(50% + 1px),
          rgba(0,0,0,0) 100%);
  border-radius: 3px;
}


  /***** ANCHOR RYTHME ET RÈGLES BASES *****/

/* Rythme vertical espacé pour bien dégager les principaux conteneurs de contenu */
body>*+* {
  margin-top: 80px;
}

/* Rythme vertical de base pour tous les éléments de contenu */
*+p, *+img, *+a, *+h1, *+h2, *+h3, *+h4, *+h5, *+h6 { 
  margin-top: 20px; 
}

*+small { 
  margin-top: 10px; 
}

/* Limiter et centrer les principales sections de contenu */
body>section {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Rythme vertical de base pour les éléments de section */
section>*+* {
  margin-top: 40px;
}

/* Base typographique à être héritée */
html {
  font-family: var(--font-normal);
  line-height: 1.5625;
}

/* Largeur maximale de toute ligne de paragraphe pour une lisibilité adéquate */
p { 
  max-width: 85ch;
}

/* Interlignage propre aux titres (moins espacé que le contenu courant) */
h1, h2, h3, h4, h5 {
  font-family: var(--font-titles);
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}

/* Échelle typographique */
h1 {
  font-size: calc(var(--size-font)*3.25);
  color: var(--color-font-emph)
}

h2 {
  font-size: calc(var(--size-font)*1.8);
}

h3 {
  font-size: calc(var(--size-font)*1.55);
}

h4 {
  font-size: calc(var(--size-font)*1.4);
}

h5, .large-button {
  font-size: calc(var(--size-font)*1.25);
}

a {
  font-size: calc(var(--size-font)*1.1);
}

small {
  font-size: calc(var(--size-font)*0.95);
}

/* Pour avoir plus de controle sur les éléments enligne utilisés seuls */
a, small {
  display: inline-block;
  line-height: 1.4;
  color: inherit;
}

/* Transition des boutons */
a:hover {
  background-color: var(--color-main-darkened);
  color: var(--color-font-emph);
}

a:active {
  box-shadow: none;
}

/* Transition des liens */
small>a:hover {
  color: var(--color-main)
}


    /***** ANCHOR UTILITY CLASSES *****/


    /*** Boutons ***/
    
/* Format des boutons standards */
.button {
  padding: .4125em .75em;
  background-color: var(--color-main);
  text-decoration: none;
  border-radius: 10px;
  transition-duration: 100ms;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

.large-button {
  background-color: rgba(0, 0, 0, 0.25);
  transition-duration: 100ms;
  color: white;
}

  /*** Éléments base flex ***/

/* Contexte flex horizontal avec marge par espacement */
.flex-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Contexte flex vertical avec alignement au centre */
.flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


  /*** Largeur des contenus ***/

/* Largeur de base de tout enfant de la grille */
section>div>* {
  width: calc(50% - 10px);
}

/* Formats tiers */
.one-third {
  width: calc(33% - 10px);
}

.two-thirds {
  width: calc(67% - 10px);
}


  /*** Format texte sur image ***/

.content-on-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.content-on-image>img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content-on-image>* {
  position: relative;
  margin: 0;
}

/* Format des boutons superposants les images */
.content-on-image a {
  max-width: 30ch;
  text-align: center;
}

/* Rythme dans les éléments successifs */
.content-on-image>*+* {
  margin-top: 20px;
}


  /*** Bloques de couleur ***/
  
.colored-block {
  background-color: var(--color-main-darkened);
  border-radius: 3px;
  }

/* pour centrer à l'intérieur des bloques de couleur */
.colored-block>* {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  color: var(--color-font-emph);
}

/* Pour diminuer la distance entres éléments successifs */
.colored-block>*+* {
  padding-top: 10px;
}


  /*** Voiles ***/

.veil-black, .veil-white {
  line-height: 1;
  border-radius: 10px;
  padding: 4px 10px;
}

.veil-black {
  background-color: rgba(0,0,0,0.25);
}

.veil-white {
  background-color: rgba(255,255,255,0.75);
}


  /*** Shadows ***/
.box-shadow {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}


/***** SECTION RÈGLES SPÉCIFIQUES *****/

/*** ANCHOR header ***/

/* Donner un style « boîte de couleur » et forcer la pleine largeur */
body>header {
  margin: 0;
  height: 500px;
}

/* Bouton sur une ligne */
header.content-on-image>.button {
  white-space: nowrap;
}

/* Pour que le header apparaisse en premier même s'il est placé après la navbar et #empty-space */
header.content-on-image {
  margin-top: -560px;
}


  /*** ANCHOR navbar ***/  

/* sert de Y offset à la barre de navigation en position initiale */
[id=empty-space] {
  height: 500px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  height: 60px;
  width: 90vw;
  max-width: 100rem;
}

/* "Stickiness" */
nav {
  position: sticky;
  z-index: 99;
  top: 0;
}

nav > a {
  flex: 1 1 0;
  background-color: var(--color-main);
  padding: .4125em .75em;
  height: 60px;
  text-align: center;
  line-height: 60px;  
  text-decoration: none;
  margin-top: inherit;
  white-space: nowrap;
}    

/* Bordures entre les cases */
nav > a {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: var(--color-main-darkened);
}    

/* position du logo */
a > img {
  background-color: var(--color-main);
  flex: 1 1 0;
  height: 100%;
  width: 100%;
}  

/* enleve le noircissement derrière le logo */
nav>a:first-child:hover {
  background-color: var(--color-main);
}  

/* arrondi les extremités du navbar */
nav>a:first-child {
  border-radius: 0px 0 0 10px;
}  

nav>a:last-child {
  border-radius: 0 0px 10px 0;
  border: none;
}


  /*** ANCHOR mission statement ***/

[id=mission-statement] h2 {
  max-width: 50ch;
  margin: auto;
  /* Marge doit prendre en compte le navbar en position absolue */
  margin-top: calc(80px + 60px);
  margin-bottom: 60px;
}

[id=mission-statement] article {
  min-height: 350px;
  justify-content: end;
}

[id=mission-statement] .content-on-image a {
	padding: 20px;
  width: calc(100% - 40px);
  max-width: none;
  border-radius: 0 0 3px 3px;
}


  /*** ANCHOR location ***/

[id=map] * {
  height: 350px;
  align-items: stretch;
}


/*** ANCHOR plus ***/

[id=plus] img {
  height: 200px;
  width: 100%;
  align-items: stretch;
}

[id=plus] div {
  height: 200px;
  align-items: flex-start;
}

/* Augmente la marge à gauche du texte dans les cases de couleur*/
[id=plus] div.colored-block>* {
  padding: 0 0 0 30px;
  text-align: left;
}


  /*** ANCHOR reviews ***/

[id=reviews] {
  min-height: 420px;
  justify-content: flex-end;
  max-width: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

/* Boite de couleur (pour varier le rythme de la page) */
[id=reviews]>img {
  margin: auto 0;
}

/* Écarte le titre des boites de couleurs et laisse le fond texturé respirer */
[id=reviews].content-on-image>h3 {
  margin-bottom: 60px;
}

/* Pour que le flex horizontal prenne toute la largeur */
[id=reviews].content-on-image>div {
  margin-bottom: 20px;
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Rapproche le titre de son sous-titre */
[id=reviews] .colored-block>h5 {
  padding-bottom: 0;
}

[id=reviews] .colored-block>small {
  text-align: center;
}

  /*** ANCHOR call to action ***/

/* Dégage du reste de la page pour créer emphase */
[id=call-action] {
  margin-top: 120px;
}

[id=call-action] article {
  width: 100%;
}
/* Texte plus gros */
[id=call-action] a {
  margin-top: 40px;
  font-size: calc(var(--size-font) * 1.5);
}

[id=call-action] small {
  font-size: calc(var(--size-font) * 1.1);
}
/* Animation unique */
[id=call-action] a:hover {
  text-decoration: underline;
}

[id=call-action] a {
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 200ms, text-underline-offset 200ms;
}

[id=call-action] a:hover,
[id=call-action] a:focus {
  text-decoration-color: rgba(255, 255, 255, 1);
}

  /*** ANCHOR footer ***/

/* Donner un style « boîte de couleur » et le dégager des côtés de la fenêtre */
body>footer {
  background-color: var(--color-main);
}

/* Établir un contexte vertical d'alignement
absolument centré pour le contenu */
body>footer {
  margin-top: 160px;
}

.footer-line {
  width: 100%;
  max-width: 100rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

/* Deuxième rangée plus haute pour soulever le menu */
.footer-line+* a {
  padding-bottom: 20px;
}
      
.footer-line a {
  margin-top: 0px;
  background-color: none;
  width: 100%;
  line-height: 60px;
  border-radius: 0;
  text-align: center;
}

/* Barre sombre */
.footer-infos {
  background-color: var(--color-main-darkened);
}

.footer-infos-contenu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100rem;
  margin: 0 auto;
}


/* Infos additionnelles */
.footer-infos-contenu {
  font-style: italic;
  color: var(--color-font-emph);
}

/* exception à la règle générale */
.footer-infos-contenu small {
  margin-top: 0;

}

.footer-infos-contenu>div {
  max-width: 100rem;
  margin: 0 auto;
}


/* MEDIA QUERY (à la pareto) */
@media all and (max-width: 1000px){
  :root {
    --size-font: 16px;
  }
}

@media all and (max-width: 700px){
  :root {
    --size-font: 14px;
  }
}