/* INPUT, BUTTON, LINKS ----------------------------------------- */

input {
  width: 300px;
  height: 35px;
  border: solid 2px #d5d5d5;
  border-radius: 4px 0 0 4px;
  font-size: 18px;
  padding-left: 5px;
}

button {
  color: black;
  font-size: 16px;
  background-color:#d5d5d5;
  border-style: none;
  border-radius: 4px;
  padding: 9px;
  cursor: pointer;
}

input ~ button {
  border-radius: 0 4px 4px 0;
  font-size: 18px;
}

button:hover {
  background-color:#e9e9e9;
}

.p-link {
  font-size: 18px;
  font-weight: 500;
}

.arrow-sign {
  padding-left: 5px;
}
