/* -------- GRILLE IMAGE GRANDE -------- */

.grille-image-grande {
    display: flex;
}

.grille-image-grande>header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
    color: inherit;
    text-align: center;
    flex-basis: 100%;
}

.grille-image-grande>header img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.grille-image-grande header div {
    position: relative;
    max-width: 70ch;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.grille-image-grande>header h1 {
    font-size: 50px;
}
